{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="{% static 'frontend/favicon.ico' %}"/>
    <link rel="apple-touch-icon" href="{% static 'frontend/logo192.png' %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Foodgram</title>
    <script defer src="{% static 'frontend/js/main.84ca7833.js' %}"></script>
    <link href="{% static 'frontend/css/main.a6f5cfb1.css' %}" rel="stylesheet">
</head>
<body>
    <noscript>Требуется включить JavaScript</noscript>
    <div id="root"></div>
</body>
</html>